@model StudentGroupFacultyApp.Models.ViewModels.SwitchRoleViewModel
@{
    ViewBag.Title = "Выбор роли";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Выберите роль</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <form action="@Url.Action("Index")" method="post">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="btn btn-default" name="selectedFaculty">
                                    <option>Выберите факультет</option>
                                    @foreach (var item in Model.AllFaculty)
                                    {
                                        <option value="@item.FacultyId">@item.FacultyName</option>
                                    }
                                </select>

                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Переключиться" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>

                @*<form action="@Url.Action("Index")" method="post">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="btn btn-default">
                                    <option>Выберите студента</option>
                                    @foreach (var item in Model.Students)
                                    {
                                        <option name="selectedStudent" value="@item.StudentId">@item.StudentLastName @item.StudentFirstName @item.StudentMiddleName</option>
                                    }

                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Переключиться" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>*@

            </div>
        </div>
    </div>
</div>
