@model StudentGroupFacultyApp.Models.Group

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Группа</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
